.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 110px;
  padding: 20px;
}

.section {

  padding: 0 20px;
  border-left: 1px solid #28530f;
}

.section:first-child {

  border-left: none;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}